.modal{
    height: 100%;
    z-index: 1000;
    background-color: rgb(63 73 118);
    border: 7px solid rgb(227 232 250);
    border-radius: 10px;
    color: whitesmoke;
}

.title{
    padding: 15px;
    font-weight: 600;
}

.title:hover{
    cursor: grab;
}

.btnWrapper{
    display: flex;
    justify-content: flex-end;
}

.btnWrapper button{
    background-color: rgb(89 99 132);
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 0;
    cursor: pointer;
}
.yesBtnFront{
    display: block;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    background-color: rgb(227, 232, 250);
    transform: translateY(-2px);
}
.yesBtn:active .yesBtnFront {
    transform: translateY(0px);
}
.noBtnFront{
    display: block;
    padding: 8px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    background-color: rgb(227, 232, 250);
    transform: translateY(-2px);
}
.noBtn:active .noBtnFront {
    transform: translateY(0px);
}

.errorMsg{
    color: red;
}

@media(min-width: 800px){

    .btnWrapper button{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 1rem;
        width: 20%;
    }

    .title{
        font-size: 1.1rem;
    }
}