.modal{
    height: 100%;
}

.title{
    padding: 20px;
    background-color: rgb(207, 143, 97);
    font-weight: 600;
}

.btnWrapper{
    display: flex;
    justify-content: flex-end;
}

.btnWrapper button{
    background-color:rgb(190, 190, 190);
    border: 1px solid rgb(184, 103, 27);
    border-radius: 4px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }

@media(min-width: 800px){

    .btnWrapper button{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 1rem;
        width: 20%;
    }
}