.editProdWrapper{
    width: 100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
}

.editProdForm{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.editProdForm label{
    justify-self: start;
    align-self: center;
    display: none;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

.editProdForm input{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 10px;
}

.editProdForm textarea{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    resize: none;
    padding: 10px;
}

.editProdForm input:focus{
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(253, 224, 224);
}

.editProdForm textarea:focus{
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(253, 224, 224);
}



.title{
    font-weight: 700;
    font-size: large;
    margin-bottom: 30px;
}

.oldImagesWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
}

.askMsg{
    color: black;
    font-weight: 500;
    display: block;
    text-align: left;
}

.oldImageAndDelete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    box-sizing: border-box;
    width: 25%;
}

.cardImage{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-bottom: 2px solid rgb(168, 164, 164);
}

.submitBtn{
    background-color: rgb(89 99 132);
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
}
.btnFront{
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    background-color: rgb(227, 232, 250);
    transform: translateY(-2px);
}
.submitBtn:active .btnFront {
    transform: translateY(0px);
}

.isLoading{
    color:rgb(184, 103, 27);
    font-size: 0.7rem;
    margin-top: 50px;
    animation-name: rotateLoading;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/*media queries*/

@media(min-width:600px){
    
    .editProdForm{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 8fr;
    }

    .editProdForm label{
        display: inline;
    }

    .submitBtn{
        max-width: max-content;
        grid-column: 2/3;
        justify-self: flex-end;
    }

    .btnFront{
        font-size: 1.05rem;
    }

    .isLoading{
        font-size: 1rem;
    }
    
}


@media(min-width:1000px){
    .isLoading{
        font-size: 1.2rem;
    }

    .oldImageAndDelete{
        max-width: 15%;
        min-width: 10%;
    }
}

/*keyframes*/

@keyframes rotateLoading{
    0%{}
    100%{transform: rotateZ(360deg)}
}