.loginWrapper{
    width: 100%;
    height: auto;
    margin-top: 80px;
    text-align: center;
}

.loginForm{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.loginForm label{
    justify-self: start;
    align-self: center;
    display: none;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

.loginForm input{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 10px;
}

.loginForm input:focus{
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(244 247 255);
}

/*.submitBtn{
    background-color: rgb(227, 232, 250);
    border: 2px solid rgb(89 99 132);
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}*/

.submitBtn{
    background-color: black;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
}
.btnFront{
    display: block;
    padding: 5px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #e3e8fa;
    background-color: rgb(63 73 118);
    transform: translateY(-2px);
}
.submitBtn:active .btnFront {
    transform: translateY(0px);
}

.errorMsg{
    color: red;
}

/*media queries*/

@media(min-width:600px){
    
    .loginForm{
        width: 60%;
        grid-template-columns: 1fr 8fr;
    }

    .loginForm label{
        display: inline;
    }

    .submitBtn{
        max-width: max-content;
        grid-column: 2/3;
        justify-self: flex-end;
    }

    .btnFront{
        font-size: 1rem;
        padding: 7px 14px;
    }

    .errorMsg{
        font-size: 1.1rem;
    }
    
}

@media(min-width:1200px){
    .loginForm{
        width: 40%;
    }
}
