.nav{
    width: 100%;
    position: relative;
    padding: 15px 10px;
    margin: 0 auto;
  }
  
  .navUl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    position: absolute;
    width: 100%;
    height: 0px;
    max-height: 0px;
    padding-top: 0px;
    visibility: hidden;
    background-color: rgb(63 73 118);
    transition: max-height 1.2s;
  }
  
  .navUl.open{
    height: auto;
    max-height: 1000px;
    left: 0px;
    padding-top: 20px;
    margin-top: 10px;
    visibility: visible;
    z-index: 100;
  }

  .navUl li{
    margin-bottom: 20px;
    width: 80%;
    border-bottom: 2px solid black;
    padding-bottom: 4px;
  }
  
  .navUl li a{
    text-decoration: none;
    color:#e3e8f3;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }
  
  .navUl li a:hover{
    font-size: 1.2rem;
  }

  .logout{
    color:#e3e8f3;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
  }

  .logout:hover{
    font-size: 1.2rem;
  }
  
  .navIcons{
    display: flex;
    justify-content: space-between;
  }

  .navIcons i{
    cursor: pointer;
  }
  
  .shoppingIcon{
    display: none;
    cursor: pointer;
  }

  .shoppCartModal{
    position: absolute;
    right: -100%;
    max-width: 50%;
    transition: all 0.5s;
  }

  .shoppCartModal.open{
    right: 0px;
    z-index: 100;
  }

  .errorMsg{
    color: red;
  }

/*media queries*/

@media(min-width:600px){
  
    .nav{
      position: block;
      padding-bottom: 30px;
      width: 90%;
    }
  
    .navIcons{
      display: none;
    }
    
    .navUl{
      width: 100%;
      height: min-content;
      max-height: 1000px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: static;
      border-bottom: 1px solid rgb(89 99 132);
      background-color: transparent;
      padding: 0;
      padding-bottom: 10px;
      visibility: visible;
      align-items: flex-start;
    }
    
    .navUl li{
      margin: 0;
      padding: 0;
      width: auto;
      border: none;
      padding-bottom: 0;
    }

    .navUl li a{
      color: black;
    }

    .logout{
      color: black;
    }

    .navUl li a:hover{
      border-bottom: 3px solid rgb(68 80 115);
      color: rgb(68, 78, 112);
      font-size: none;
    }

    .navUl li .navSelected{
      color: rgb(68, 78, 112);
      border-bottom: 3px solid rgb(68 80 115);
    }

    .logout:hover{
      border-bottom: 3px solid rgb(68 80 115);
      color: rgb(68, 78, 112);
      font-size: none;
    }

    .navUl span{
      margin: 0;
      padding: 0;
    }
  
    .navUl li a{
      font-size: 1rem;
    }

    .logout{
      font-size: 1rem;
    }
  
    .shoppingIcon{
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .shoppCartModal{
      max-width: 40%;
    }
  
}

@media(min-width:800px){

    .navUl li a{
      font-size: 1.2rem;
    }

    .logout{
      font-size: 1.2rem;
    }

    .shoppCartModal{
      max-width: 30%;
    }
}

@media(min-width: 1000px){
  .shoppCartModal{
      max-width: 20%;
  }
}