.nav{
    width: 100%;
    position: relative;
    padding: 15px 0;
  }
  
  .navUl{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    position: absolute;
    left: -100%;
    width: 50%;
    min-height: 300px;
    background-color: rgb(227, 232, 250);
    transition: left 0.5s;
    padding-top: 20px;
  }
  
  .navUl.open{
    left: 0px;
    z-index: 100;
  }

  .navUl li{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .navUl li a{
    text-decoration: none;
    color:rgb(68, 78, 112);
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .navUl li a:hover{
    color:rgb(163, 125, 90);
  }

  .logout{
    color:rgb(68, 78, 112);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
  }

  .logout:hover{
    color:rgb(163, 125, 90);
  }
  
  .navIcons{
    display: flex;
    justify-content: space-between;
  }

  .navIcons i{
    cursor: pointer;
  }
  
  .shoppingIcon{
    display: none;
    cursor: pointer;
  }

  .shoppCartModal{
    position: absolute;
    right: -100%;
    max-width: 50%;
    transition: all 0.5s;
  }

  .shoppCartModal.open{
    right: 0px;
    z-index: 100;
  }

/*media queries*/

@media(min-width:600px){
  
    .nav{
      position: block;
      padding-bottom: 30px;
    }
  
    .navIcons{
      display: none;
    }
    
    .navUl{
      width: 100%;
      min-height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: static;
      border-bottom: 1px solid rgb(184, 103, 27);
      background-color: transparent;
      padding: 0;
      padding-bottom: 10px;
    }
    
    .navUl li{
      margin: 0;
      padding: 0;
    }

    .navUl li a:hover{
      border-bottom: 3px solid rgb(68 80 115);
    }

    .navUl div{
      margin: 0;
      padding: 0;
    }
  
    .navUl li a{
      font-size: 1rem;
    }

    .logout{
      font-size: 1rem;
    }
  
    .shoppingIcon{
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .shoppCartModal{
      max-width: 40%;
    }
  
}

@media(min-width:800px){

    .navUl li a{
      font-size: 1.2rem;
    }

    .logout{
      font-size: 1.2rem;
    }

    .shoppCartModal{
      max-width: 30%;
    }
}

@media(min-width: 1000px){
  .shoppCartModal{
      max-width: 20%;
  }
}