.newProdWrapper{
    width: 100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
}

.newProdForm{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.newProdForm label{
    justify-self: start;
    align-self: center;
    display: none;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

.newProdForm input{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 10px;
}

.newProdForm textarea{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    outline: none;
    resize: none;
    padding: 10px;
}

.newProdForm input:focus{
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(244 247 255);
}

.newProdForm textarea:focus{
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(244 247 255);
}

.validationError{
    color: #e62c2c;
    position: relative;
    top: -10px;
    text-align: left;
}

.title{
    font-weight: 700;
    font-size: large;
    margin-bottom: 30px;
}

.submitBtn{
    background-color: rgb(89 99 132);
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
}
.btnFront{
    display: block;
    padding: 5px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    background-color: rgb(227, 232, 250);
    transform: translateY(-2px);
}
.submitBtn:active .btnFront {
    transform: translateY(0px);
}

.isLoading{
    color:rgb(184, 103, 27);
    font-size: 0.7rem;
    margin-top: 50px;
    animation-name: rotateLoading;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/*media queries*/

@media(min-width:600px){
    
    .newProdForm{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 8fr;
    }

    .newProdForm label{
        display: inline;
    }

    .validationError{
        grid-column: 2/3;
    }

    .submitBtn{
        max-width: max-content;
        grid-column: 2/3;
        justify-self: flex-end;
    }

    .btnFront{
        font-size: 1.05rem;
        padding: 10px 20px;
    }

    .isLoading{
        font-size: 1rem;
    }
    
}


@media(min-width:100px){
    .isLoading{
        font-size: 1.2rem;
    }
}

/*keyframes*/

@keyframes rotateLoading{
    0%{}
    100%{transform: rotateZ(360deg)}
}