.notFoundWrapper{
    background-color: rgb(255, 222, 198);
    border: 2px solid rgb(255, 189, 113);
    border-radius: 10px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
}

.notFoundText{
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color:rgb(192, 23, 4);
}

@media(min-width:600px){
    
    .notFoundText{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.3rem;
    }
}