.productLayout{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

.card{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content{
    font-size: 1rem;
    color: rgb(77, 76, 76);
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #444e70;
}

.location{
    color: #73716fa1;
    font-size: 0.9rem;
}

.seller{
    align-self: flex-end;
    color: #73716fa1;
    font-style: italic;
    font-size: 0.8rem;
}

.description{
    font-family: "Times New Roman", Times, serif;
    padding: 5px 0;
    font-size: 1rem;
}

.price{
    color: #444e70;
    font-size: 1.2rem;
    font-weight: 800;
    align-self: flex-end;
}

.cardImageWrapper{
    width: 100%;
    height: auto;
}

.cardImage{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.ratingViewAndSpan{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid #73716fa1;
}

.ratingView{
    max-height: max-content;
}

.avgRatingText{
    padding-left: 5px;
    max-height: max-content;
    padding-bottom: 7px;
}

.editBtn{
    background-color: wheat;
    border: 2px solid rgb(184, 103, 27);
    border-radius: 4px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
.deleteBtn{
    background-color:rgb(235, 88, 88);
    border: 1px solid rgb(184, 103, 27);
    border-radius: 4px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
.btnWrapper{
    display: flex;
    justify-content: flex-end;
}

.btnWrapper2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.addToCartBtn{
    background-color: rgb(221, 229, 255);
    border: 2px solid rgb(68, 78, 112);
    border-radius: 4px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    grid-column: 1/2;
    cursor: pointer;
}

.isLoading{
    color:rgb(184, 103, 27);
    font-size: 0.7rem;
    margin-top: 50px;
    animation-name: rotateLoading;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.modalWrapper{
    position: fixed;
    margin: 0 auto;
    top: 30vh;
    width: 250px;
    height: auto;
}

/*media queries*/

@media(min-width:600px){

    .isLoading{
        font-size: 1rem;
    }
    
    .carouselComponent{
        width: 70%;
        align-self: center;
    }

    .addToCartBtn{
        font-size: 1rem;
    }
}

@media(min-width:800px){

    .modalWrapper{
        width: 350px;
    }

    .title{
        font-size: 1.3rem;
    }
    
    .location{
        font-size: 1rem;
    }
    
    .seller{
        font-size: 0.9rem;
    }
    
    .description{
        font-size: 1.1rem;
    }
    
    .price{
        font-size: 1.3rem;
    }
    
}

@media(min-width:1000px){

    .isLoading{
        font-size: 1.2rem;
    }

    .card{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .carouselComponent{
        justify-self: center;
        grid-column: 1/2;
        width: 80%;
    }

    .content{
        grid-column: 2/3;
    }

    .btnWrapper{
        margin-top: 20px;
    }

    .reviews{
        grid-column: 1/3;
    }

    .addToCartBtn{
        height: 40px;
    }
}

@media(min-width:1200px){

    .addToCartBtn{
        height: 45px;
        font-size: 1rem;
    }

    .content{
        font-size: 1.1rem;
    }
}

/*keyframes*/

@keyframes rotateLoading{
    0%{}
    100%{transform: rotateZ(360deg)}
}