.productsLayout{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.isLoading{
    color:rgb(184, 103, 27);
    font-size: 0.7rem;
    margin-top: 50px;
    animation-name: rotateLoading;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


/*media queries*/

@media(min-width:600px){

    .isLoading{
        font-size: 1rem;
    }

}


@media(min-width:1000px){

    .isLoading{
        font-size: 1.2rem;
    }
}

/*keyframes*/

@keyframes rotateLoading{
    0%{}
    100%{transform: rotateZ(360deg)}
}


