.productsLayout{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.cardWrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    cursor: pointer;
}

.isLoading{
    color:rgb(184, 103, 27);
    font-size: 0.7rem;
    margin-top: 50px;
    animation-name: rotateLoading;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.card{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 4px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding: 10px;
}

.card:hover{
    transform:scale(1.03);
}

.cardImage{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-bottom: 2px solid rgb(168, 164, 164);
}

.link{
    font-size: 1rem;
    color: rgb(77, 76, 76);
}

.ratingViewAndSpan{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.ratingView{
    max-height: max-content;
}

.avgRatingText{
    padding-left: 5px;
    max-height: max-content;
    padding-bottom: 7px;
}

.editBtn{
    background-color: wheat;
    border: 2px solid rgb(184, 103, 27);
    border-radius: 4px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
.deleteBtn{
    background-color:rgb(235, 88, 88);
    border: 1px solid rgb(184, 103, 27);
    border-radius: 4px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
.btnWrapper{
    display: flex;
    justify-content: flex-end;
}

.modalWrapper{
    position: fixed;
    margin: 0 auto;
    top: 30vh;
    width: 250px;
    height: auto;
}

/*media queries*/

@media(min-width:600px){
    
    .cardWrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .isLoading{
        font-size: 1rem;
    }
}

@media(min-width:800px){
    
    .cardWrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }

    .modalWrapper{
        width: 350px;
    }

}


@media(min-width:1000px){
    
    .cardWrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
    }

    .isLoading{
        font-size: 1.2rem;
    }
}

/*keyframes*/

@keyframes rotateLoading{
    0%{}
    100%{transform: rotateZ(360deg)}
}


